{% extends "SaludMentalBundle::layout.html.twig" %}

{% block title %} Ver Familia{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <table class="table table-striped">
                <tr>
                    <th>Numero</th>
                    <td>{{entity.id}}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{entity.nombre}}</td>
                </tr>
            </table>
            
            <br /><br />
            <h2>Integrantes</h2>
                    
            <table class="table table-striped">
                <tr>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Doc.</th>
                    <th>Nacimiento</th>
                    <th>Estado</th>
                    <th>Disc.</th>
                    <th>Jubililado</th>
                    <th>Pensionado</th>
                    <th>Domicilio</th>
                    <th>Telefonos</th>
                </tr>
                {% for persona in entity.personas %}
                    <tr>
                        <td>{{persona.persona.apellido | upper}}</td>
                        <td>{{persona.persona.nombre}}</td>
                        <td>{{persona.persona.tipodocumento}} : {{persona.persona.nroDocumento}}</td>
                        <td>{{persona.persona.fechanacimiento | date('d/m/Y')}}</td>
                        <td>{{persona.persona.estadocivil}}</td>
                        <td>{{persona.persona.discapacidad}}</td>
                        <td>{{persona.persona.jubilado}}</td>
                        <td>{{persona.persona.pensionado}}</th>
                        <td>{{persona.persona.domicilio}} - {{persona.persona.nrodomicilio}}</td>
                        <td>{{persona.persona.telefonofijo}} - {{persona.persona.telefonocelular}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">La familia esta sin integrantes!!</td>
                    </tr>
                {% endfor %}
                <tfoot>
                    <tr>
                        <td colspan="11"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><a href="{{ path('new_persona', { 'id' : entity.id}) }}">&nbsp;Agregar Integrante</a></td>
                    </tr>
                </tfoot>
            </table>
                
            <br /><br />
            <h2>Hogar</h2>
            
            <table class="table table-striped">
                {% if entity.hogar != null %}
                    <tr>
                        <th>Domicilio</th>
                        <td>{{entity.hogar.domicilio}} - {{entity.hogar.nrodomicilio}}</td>
                    </tr>
                    <tr>
                        <th>Barrio</th>
                        <td>{{entity.hogar.barrio}}</td>
                    </tr>
                    <tr>
                        <th>Ciudad</th>
                        <td>{{entity.hogar.ciudad}}</td>
                    </tr>
                    <tr>
                        <th>Tipo Hogar</th>
                        <td>{{entity.hogar.tipo}}</td>
                    </tr>
                    <tr>
                        <th>Tipo Sanitario</th>
                        <td>{{entity.hogar.sanitario}}</td>
                    </tr>
                    <tr>
                        <th>Tipo Agua</th>
                        <td>{{entity.hogar.agua}}</td>
                    </tr>
                    <tr>
                        <th>Electricidad</th>
                        {% if entity.hogar.electricidad %}
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                        {% else %}
                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Cloaca</th>
                        {% if entity.hogar.cloaca%}
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                        {% else %}
                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                        {% endif %}

                    </tr>
                {% else %}
                    <tr><td colspan="2">La familia no cuenta con un hogar registrado</td></tr>
                {% endif %}
                <tfoot>
                    <tr>
                        {% if entity.hogar is null %}
                            <td><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><a href="{{ path('new_hogar', { 'id' : entity.id })}}">&nbsp;Registrar Hogar</a></td>
                        {% else %}
                            <td><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><a href="">&nbsp;Editar Hogar</a></td>
                        {% endif %}
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
